# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.so
*.pyd
env/
venv/
*.env
*.venv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Docker
*.tar
*.tar.gz
*.img
*.dockerignore

# Temporary files
*.tmp
*.swp
*.bak

# Output folders (example, adjust as needed)
examples/sample_inputs/
output/
